.tags-input {
    background-color: #fff;
    border: 2px solid #dce4ec;
    display: inline-block;
    padding: 5px 7px;
    vertical-align: middle;
    border-radius: 4px;
    width: 100%;
    line-height: 22px;
    cursor: text;
}

.tags-input input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    min-width: 350px;
    max-width: inherit;
}

.tags-input.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.tags-input.form-control input:-ms-input-placeholder {
    color: #777;
}

.tags-input.form-control input::-webkit-input-placeholder {
    color: #777;
}

.tags-input input:focus {
    border: none;
    box-shadow: none;
}

.tag {
    display: inline-block;
    margin: 2px 3px 2px 0;
    font-size: 14.25px;
    padding: 4px 7px;
}

.tags-input .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.tags-input .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.tags-input .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tags-input .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.dropdown-menu {
    height: auto;
    min-width: 200px;
    max-height: 230px;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #ffffff;
    overflow-x: hidden;
}

.dropdown-menu li {
    padding: 5px 15px;
}

.selected {
    color: white;
    background-color: #3bafda;
}

.new-tags-list {
    padding: 10px 3px;
}

.new-issue-tag {
    margin-right: 3px;
    font-size: 14.25px;
    padding: 4px 7px;
}